<!DOCTYPE html>
<html>
  <head>
    <title>dmhatre :: Contact Info</title>
    <meta name="description" content="The personal website of Darpan Mhatre, a software evangelist who enjoys learning and implementing new technologies">
	<meta name="ROBOTS" content="INDEX, FOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Darpan Mhatre, install node.js, create node.js server, use screen command, Java Servlet, Spring 4 MVC, Spring MVC, Spring, MVC, Tomcat, Tomcat 7, eclipse tomcat plugin">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
      .navbar-inverse {
    	background-color: #563D7C;
    	border-color: #563D7C;
      }
      .navbar-inverse .navbar-nav > .active > a, 
      .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
    	background-color: #FF803E;
    	color: #FFFFFF;
      }
      .navbar-inverse .navbar-nav > .open > a, 
      .navbar-inverse .navbar-nav > .open > a:hover, 
      .navbar-inverse .navbar-nav > .open > a:focus {
     	background-color: #FF803E;
    	color: #FFFFFF;
      }
      #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
    $(function(){
    	var map = L.map('map-canvas').setView([40.785476,-74.008273], 13);
    	// add an OpenStreetMap tile layer
    	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    	    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    	}).addTo(map);

    	// add a marker in the given location, attach some popup content to it and open the popup
    	L.marker([40.785476,-74.008273]).addTo(map) .bindPopup('6040 Kennedy Blvd East, Apt#3E</br>West New York, New Jersey 07093');
    });
	
    </script>
    <script>
    /*    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48004119-1', 'dmhatre.com');
    ga('send', 'pageview');*/
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-48004119-1']);
     _gaq.push(['_setDomainName', 'none']);
     _gaq.push(['_setAllowLinker', true]);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	</script>
  </head>
  <body style="background-color:#9AD2FF;">
    <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Darpan Mhatre</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:20px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resume
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<li><a href="/downloadresume">Download Resume</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/education">Education</a></li>
              </ul>
            </li>
            <li>
            	<a href="#myModal" data-toggle="modal">Video Resume</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/installnode">Installing nodejs on ubuntu 12</a></li>
                <li><a href="/createnodejsserver">Create simple nodejs server</a></li>
                <li><a href="/usescreen">Screen</a></li>
                <li><a href="/installredis">Install Redis</a></li>
                <li><a href="/javaservlet">Java Servlet</a></li>
                <li><a href="/spring4mvc">Spring 4 MVC</a></li>
              </ul>
            </li>
            <li class="active"><a href="/contactinfo">Contact Info</a></li>
          </ul>
        </div>
    </nav>
    <div class="row" style="padding-top:51px;">
    	<div class="col-md-1"></div>
    	<div class="col-md-3">
        <h2>Contact Info</h2>
        <h5>Address:</h5>
        <p>6040 Kennedy Blvd East, Apt#3E</p>
        <p>West New York, New Jersey 07093</p>
        <h5>Email:</h5>
        <p>darpan.mhatre@yahoo.com</p>
        </div>
        <div id="map-canvas" class="col-md-7" style="height:450px;margin-top:31px">
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Video Resume</h4>
                </div>
                <div class="modal-body">
                    <p>Coming soon, Keep watching this space.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>  
  </body>
</html>