<!DOCTYPE html>
<html>
  <head>
    <title>dmhatre :: Experience</title>
    <meta name="description" content="The personal website of Darpan Mhatre, a software evangelist who enjoys learning and implementing new technologies">
	<meta name="ROBOTS" content="INDEX, FOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Darpan Mhatre, install node.js, create node.js server, use screen command, Java Servlet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
      .navbar-inverse {
    	background-color: #563D7C;
    	border-color: #563D7C;
      }
      .navbar-inverse .navbar-nav > .active > a, 
      .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
    	background-color: #FF803E;
    	color: #FFFFFF;
      }
      .navbar-inverse .navbar-nav > .open > a, 
      .navbar-inverse .navbar-nav > .open > a:hover, 
      .navbar-inverse .navbar-nav > .open > a:focus {
     	background-color: #FF803E;
    	color: #FFFFFF;
      }
    </style>
    <script>
    /*    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48004119-1', 'dmhatre.com');
    ga('send', 'pageview');*/
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-48004119-1']);
     _gaq.push(['_setDomainName', 'none']);
     _gaq.push(['_setAllowLinker', true]);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	</script>
  </head>
  <body style="background-color:#9AD2FF;">
    <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Darpan Mhatre</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:20px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resume
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<li><a href="/downloadresume">Download Resume</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/education">Education</a></li>
              </ul>
            </li>
            <li><a href="#myModal" data-toggle="modal">Video Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/installnode">Installing nodejs on ubuntu 12</a></li>
                <li><a href="/createnodejsserver">Create simple nodejs server</a></li>
                <li><a href="/usescreen">Screen</a></li>
                <li><a href="/installredis">Install Redis</a></li>
                <li><a href="/javaservlet">Java Servlet</a></li>
              </ul>
            </li>
            <li><a href="/contactinfo">Contact Info</a></li>
          </ul>
        </div>
    </nav>
    <div class="row" style="padding-top:51px;">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
        <h2>Experience</h2>
        <h4>Client: AT&T Research Labs, Middletown, NJ</h4>
        <h4>Company: Macrosoft, Inc, Parsippany, NJ (April 2013 - present)</h4>
        <h4>Analytical Software Developer</h4>
        <p>A member of a team developing platform for fiber planning and analysis</p>
        <h5>Accomplishments</h5>
        <ul>
        	<li>Developed several modules in fiber planning and analysis platform using AT&T’s proprietary frameworks Quantum, Fusion, Raptor which is built upon Spring MVC 2.5, Hibernate, Oracle 11g, JSP, JSTL, DWR, EL   Expressions and ZK-framework</li>
			<li>Developed proof of concept software defined networking using opendaylight controller, OSGI, mininet, openflow, python, virtualbox, MYSQL, crontab, shell script and google maps</li>
			<li>Developed OSGI module for bandwidth calendaring by integrating bandwidth calendaring orders, BGP-LS links and existing tunnels feed and delegating it to bandwidth calendaring algorithm</li>
			<li>Developed OSGI module that registers servlet as HTTP service and displays location of switches and links between them geographically using google maps and topology information from opendaylight controller</li>
			<li>Wrote several shell scripts to get network and tunnel information and integrate them to bring up the whole network using mininet and python</li>
			<li>Developed OSGI module to create tunnels by adding flow, using openflow to route traffic</li>
			<li>Developed various network visualization modules using D3.js, leaflet.js and OpenStreetMap</li>
			<li>Developed proof of concept web application for mobile devices like iPad with responsive design using Twitter Bootstrap, HTML5, CSS3 and various jquery plug-in like masonry.js, slider.js, Datatables.net, Google charts and server side technologies like Spring framework, ZK Framework, Hibernate and Oracle 11g</li>
			<li>Maintained and enhanced web based Optical Capacity Planning Tool using java, Struts 1, Hibernate, Oracle PL/SQL, JSP</li>
			<li>Developed various features in the application using Google Maps API version 2</li>
			<li>One of the two members to migrate ATT's proprietary maps API to use Google Maps version 3 from Google Maps version 2</li>
			<li>Worked on Google charts and g.Raphael.js to create various reports</li>
			<li>Developed interactive user interface using Raphael.js to work with all the browsers. And developed a feature to download it as PDF using Raphael.export.js and Apache Batik</li>
			<li>Developed System Alerts features for planners with pie charts and detailed alerts description of various exceptions in fiber planning and analysis platform</li>
			<li>Responsible for making monthly builds and deployment to DEV, UAT and Production environment</li>
			<li>Developed weekly excel reports for planners with low memory footprint using Apache POI, Shell Scripts and Unix mail</li>
			<li>Mentor colleagues to build excel reports with large data using apache poi with low memory foot prints</li>
			<li>Worked on several Maintenance Request as a part of monthly releases</li>
			<li>Participate in various aspects of lifecycle of system including analysis, design programming, testing, support and maintenance</li>
        </ul>
        <h5>Environment</h5>
        <p>AT&T&#39;s Proprietary frameworks like Quantum, Fusion and Raptor</p>
		<p>Apache Tomcat 5.5.33, Spring MVC 2.5, Hibernate, Oracle 11g, Filezilla, Sun Solaris, JSTL, EL Expressions, ZK Framework, Apache poi, Google charts and g.Raphael.js, Twitter Bootstrap 2, CSS3, JSP, Struts 1, Direct web remoting, opendaylight controller, OSGI, mininet, openflow, python, virtualbox, MYSQL</p>
        <h4>Gravy, Inc, Secaucus, NJ (October 2012 - April 2013)</h4>
        <h4>Senior Java Developer</h4>
        <p>A member of a team, developing a state of the art promotion based payment system</p>
        <h5>Accomplishments</h5>
        <ul>
        	<li>Wrote various topologies, spouts and bolts using Twitter Storm</li>
			<li>Developed modules using node.js to access data from Redis, an advanced key-value store</li>
			<li>Developed modules to access data from Apache Kafka a distributed pub sub messaging system</li>
			<li>Developed JAVA libraries to stored objects on Amazon S3</li>
			<li>Installed Glassfish on development servers and deployed Jenkins</li>
			<li>Supported and enhanced application written in JSF 2.0</li>
			<li>Developed web application using responsive web design, HTML5, CSS3, Twitter Bootstrap, jQuery, backbone.js, node.js, express.js, underscore.js and jade template</li>
			<li>Worked on Google Maps API</li>
			<li>Wrote automated build scripts to test Restful APIs using JUnit, TestNG and ReportNG and developed automated build framework using Jenkins to run scheduled builds</li>
			<li>Proposed various cutting edge technologies and helped to integrate into the system</li>
			<li>Continuous interaction with architects and managers to gather requirements, analyze them, develop flow charts and diagrams to illustrate the implementation flow and finally develop the functionality</li>
       	</ul>
        <h5>Environment</h5>
		<p>Twitter Storm, Apache Kafka, Redis, Eclipselink (JPA), NetBeans, Glassfish 3.1.1, JSF 2.0, Jenkins, JUnit, TestNG, Centos, Ubuntu, Jet brains Webstorm, node.js, express.js, consolidate.js, underscore.js, backbone.js, jade template, Twitter Bootstrap, jQuery, HTML 5, CSS3, Amazon web services (s3, cloudfront), Google Maps API, Postgresql, GIMP 2.6</p>
        <h4>Stonewain Systems Inc, Berkeley Heights, NJ (March 2010 - September 2012)</h4>
        <h4>Programmer Analyst</h4>
        <p>A member of a team developing, a state of the art Securities Lending Platform</p>
        <p>The Stonewain Securities Lending platform is a comprehensive, fully integrated front, middle and back office solutions for securities finance market. The system supports Positions and Trades, Accounting, Static and Security, Risk Analysis and compliance, Reporting and operations</p>
        <h5>Accomplishments</h5>
        <ul>
        	<li>Developed several production modules of securities lending platform and Locates engine</li>
        	<li>In depth knowledge of securities lending and Locates</li>
			<li>Developed several securities lending system modules like account management, user management, recall management, settlement configuration, corporate actions management, issuer management and many more</li>
			<li>Developed several modules in auto locates engine like supply management, counterparty supply, account management, user management, haircut management, pending locates, locates history, uploading locates feed, uploading supply feeds, easy to borrow list, do not locate list, do not auto locate list and many more</li>
			<li>Developed modules using YUI 2, JavaScript, JSP and Struts 2</li>
			<li>Wrote complex queries, stored procedures and functions for reports and modules using Oracle 11g and SQL Developer</li>
			<li>Developed custom export to excel engine for data table</li>
			<li>Designed the architecture and developed the custom pluggable authentication module to authenticate application users against active directory or database</li>
			<li>Implemented JPA 2.0 with EJB3.0 (stateless EJB beans) and on JBOSS and Weblogic application server</li>
			<li>Designed several reports including pie chart and stacked area reports using iReport</li>
			<li>Developed monthly client statement reports</li>
			<li>Deploying the web application to internal QA environment</li>
			<li>Designed system to parse flat files using Flatpack, strategy pattern and factory pattern</li>
			<li>Worked on generating flat files using custom application</li>
			<li>Designed and developed module to load flat files and excel files into the system using Flatpack, poi/JExcel and design patterns</li>
			<li>Designed and developed an enterprise application integration layer using Apache camel, Spring Framework and Atomikos, BeanIO</li>
			<li>QA and testing on all browsers and troubleshooting</li>
			<li>Exposure to WebLogic 11g</li>
			<li>Installed Jasper Server 3.7 on Jboss 5.1.0</li>
			<li>Continuous interaction with architects and managers to gather requirements, analyze them, develop flow charts and diagrams to illustrate the implementation flow and finally develop the functionality</li>
			<li>Review and alter programs to increase operational efficiency or adapt to new requirements</li>
			<li>Develop and build wire frames for platform</li>
			<li>Direct and participate in various aspects of lifecycle of system including analysis, design programming, testing, support and maintenance</li>
			<li>Developed automated testing scripts using Selenium web driver, Selenium IDE, TestNG and ReportNG</li>
		</ul>
        <h5>Environment</h5>
		<p>JAVA EE, Struts 2, JSP, JavaScript, CSS, YUI 2, XML, AJAX, CVS, Linux, Sun Solaris, EJB 3.0, JPA 2.0, Eclipse Helios, JasperReports, iReport, Flatpack, Windows 7, SQL*Plus, Oracle SQL Developer, FileZilla, Putty SSH, Notepad++, Microsoft Office 7, Apache Camel 2.9.2, Spring, Atomikos, WebSphere MQ</p>
        <h4>LiveProcess, Verona, NJ (January 2009 - December 2009)</h4>
        <h4>Intern Web Application Developer</h4>
        <p>Worked as part of the development team, on all aspects of the platform. LiveProcess system gives hospitals, other healthcare providers and public health agencies the ability to evaluate and manage their own preparedness as well as coordinate response with other entities in times of disaster and large-scale healthcare emergencies. It is the first standardized solution for healthcare disaster and emergency readiness and reaction</p>
        <h5>Accomplishments</h5>
        <ul>
        	<li>Developed several production modules</li>
        	<li>Developed WebPages using GWT EXT and cascading style sheets</li>
			<li>Developed WebPages using PHP and JavaScript</li>
			<li>Developed several reports using JasperReports</li>
			<li>Wrote complex SQL queries for modules and reports</li>
			<li>Tested platform and fixed bugs</li>
		</ul>
        <h5>Environment</h5>
        <p>Google Web Toolkit, Spring Framework, HTML, JavaScript, PHP, CSS, XML, ANT, Eclipse Galileo, MYSQL Query browser, iReport</p>
		</div>
		<div class="col-md-1"></div>
		</div> 
       </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Video Resume</h4>
                </div>
                <div class="modal-body">
                    <p>Coming soon, Keep watching this space.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>