<!DOCTYPE html>
<html>
  <head>
    <title>dmhatre :: Java Servlet</title>
    <meta name="description" content="The personal website of Darpan Mhatre, a software evangelist who enjoys learning and implementing new technologies">
	<meta name="ROBOTS" content="INDEX, FOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Darpan Mhatre, serverless architecture, aws, amazon web services, elastic beanstalk, elasticbeanstalk, spring boot, spring boot with mysql, spring boot mysql, spring boot oauth2, spring boot with oauth2, oauth2, facebook oauth2, oauth, single sign on, sso, install node.js, create node.js server, use screen command, Java Servlet, Spring 4 MVC, Spring MVC, Spring, MVC, Tomcat, Tomcat 7, eclipse tomcat plugin">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
      .navbar-inverse {
    	background-color: #563D7C;
    	border-color: #563D7C;
      }
      .navbar-inverse .navbar-nav > .active > a, 
      .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
    	background-color: #FF803E;
    	color: #FFFFFF;
      }
      .navbar-inverse .navbar-nav > .open > a, 
      .navbar-inverse .navbar-nav > .open > a:hover, 
      .navbar-inverse .navbar-nav > .open > a:focus {
     	background-color: #FF803E;
    	color: #FFFFFF;
      }
    </style>
    <script>
    /*    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48004119-1', 'dmhatre.com');
    ga('send', 'pageview');*/
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-48004119-1']);
     _gaq.push(['_setDomainName', 'none']);
     _gaq.push(['_setAllowLinker', true]);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	</script>
  </head>
  <body style="background-color:#9AD2FF;">
    <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Darpan Mhatre</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:20px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resume
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<li><a href="/downloadresume">Download Resume</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/education">Education</a></li>
              </ul>
            </li>
            <li><a href="#myModal" data-toggle="modal">Video Resume</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/awselasticbeanstalk">AWS Elastic Beanstalk</a></li>
                <li><a href="/springbootmysql">Spring Boot with Mysql</a></li>
                <li><a href="/spring4mvc">Spring 4 MVC</a></li>
                <li><a href="/javaservlet">Java Servlet</a></li>
                <li><a href="/installnode">Installing nodejs on ubuntu 12</a></li>
                <li><a href="/createnodejsserver">Create simple nodejs server</a></li>
                <li><a href="/usescreen">Screen</a></li>
                <li><a href="/installredis">Install Redis</a></li>
                <li><a href="/springbootoauth2">Spring Boot with OAuth2</a></li>
              </ul>
            </li>
            <li><a href="/contactinfo">Contact Info</a></li>
            <li><a href="/d3jsdemo">Demo d3js</a></li>
          </ul>
        </div>
    </nav>
    <div class="row" style="padding-top:51px;">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
        <h2>Java Servlet</h2>
        <p><b>Note:</b> This tutorial is for developers who want to learn the concepts of java servlet.<br>
			This tutorial does not show you how to code. There are several examples online which will show you how to code.
        </p>
        <h4>Evolution</h4>
        <p>Before Servlet, CGI &#40;Common Gateway Interface&#41; scripting language was used 
        as a server-side programming language. CGI technology enables the web server
        to call an external program and delegate HTTP request to the external program to process the request.
        </p>
        <ul>
           <li>For each request, it starts a new process</li>
           <li>It uses platform dependent language e.g. C, C++, perl</li>
        </ul>
        <h4>Introduction</h4>
        <p>Servlet is a java object. It receives a request and generates response.
        There are many advantages of Servlet over CGI.
        </p>
        <ul>
           <li>For each request new thread is created</li>
           <li>Servlet uses java so it’s secure, platform independent, 
           robust and no memory leaks since java takes care of garbage collection</li>
        </ul>
        <p>All servlets must implement servlet interface, which defines lifecycle methods.
		javax.servlet and javax.servlet.http packages provide interfaces and classes for writing servlets.
		HttpServet class provides methods for handling HTTP-specific services.
        </p>
        <h4>Servlet lifecycle</h4>
        <p>Servlet container controls the lifecycle of servlet</p>
		<p>When request is mapped to a servlet if an instance of a servlet does not exist, the web container</p>
		<ul>
			<li>Loads the servlet class</li>
			<li>Create an instance of the servlet class</li>
			<li>Initializes the servlet instance by calling the "init" method</li>
			<li>Invokes the "service" method, passing request and response objects</li>
			<li>If it needs to remove the servlet, the container finalizes the servlet by calling the servlet's "destroy" method</li>
		</ul>
        <h4>ServletContext</h4>
        <p>ServletContext is an object created by web container to provide information to all the servlets. 
        This object get information from web.xml using &#60;context&#45;param&#62;.</p>
        <h4>ServletConfig</h4>
        <p>ServletConfig is an object created by web container to initialize single servlet.
		This object is used to get configuration information from web.xml for the single servlet using &#60;init&#45;param&#62;
        </p>
        <h4>Scope Objects</h4>
        <p>Web components share information by means of objects that maintained as attributes of 4 scope objects.</p>
		<ul>
			<li>WebContext</li>
			<li>Session</li>
			<li>Request</li>
			<li>Page</li>
		</ul>
        <h4>Filtering request and response</h4>
        <p>A filter is an object use to modify the header and content of a request or response by intercepting.
		Filters can be used for authentication, logging etc. Request or response can be filtered by a chain of zero, 
		one, or more filters in a specific order. Filters can be configured in web.xml using &#60;filter&#62;
        </p>
		</div>
        <div class="col-md-1"></div>
    </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Video Resume</h4>
                </div>
                <div class="modal-body">
                    <p>Coming soon, Keep watching this space.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>