<!DOCTYPE html>
<html>
  <head>
    <title>dmhatre :: Summary</title>
    <meta name="description" content="The personal website of Darpan Mhatre, a software evangelist who enjoys learning and implementing new technologies">
	<meta name="ROBOTS" content="INDEX, FOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Darpan Mhatre, install node.js, create node.js server, use screen command, Java Servlet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
      .navbar-inverse {
    	background-color: #563D7C;
    	border-color: #563D7C;
      }
      .navbar-inverse .navbar-nav > .active > a, 
      .navbar-inverse .navbar-nav > .active > a:hover, 
      .navbar-inverse .navbar-nav > .active > a:focus {
    	background-color: #FF803E;
    	color: #FFFFFF;
      }
      .navbar-inverse .navbar-nav > .open > a, 
      .navbar-inverse .navbar-nav > .open > a:hover, 
      .navbar-inverse .navbar-nav > .open > a:focus {
     	background-color: #FF803E;
    	color: #FFFFFF;
      }
    </style>
    <script>
    /*    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48004119-1', 'dmhatre.com');
    ga('send', 'pageview');*/
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-48004119-1']);
     _gaq.push(['_setDomainName', 'none']);
     _gaq.push(['_setAllowLinker', true]);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	</script>
  </head>
  <body style="background-color:#9AD2FF;">
    <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Darpan Mhatre</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:20px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Resume
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<li><a href="/downloadresume">Download Resume</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/education">Education</a></li>
              </ul>
            </li>
            <li><a href="#myModal" data-toggle="modal">Video Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/installnode">Installing nodejs on ubuntu 12</a></li>
                <li><a href="/createnodejsserver">Create simple nodejs server</a></li>
                <li><a href="/usescreen">Screen</a></li>
                <li><a href="/installredis">Install Redis</a></li>
                <li><a href="/javaservlet">Java Servlet</a></li>
              </ul>
            </li>
            <li><a href="/contactinfo">Contact Info</a></li>
          </ul>
        </div>
    </nav>
    <div class="row" style="padding-top:51px;">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
        <h2>Summary</h2>
        <ul>
        	<li>More than 5 years of experience in developing JAVA EE applications</li>
			<li>Sound knowledge of fiber optic network planning and software defined networking</li>
			<li>Developed several modules in fiber optic network planning and analysis platform</li>
			<li>Proficiency working with Spring Framework, ZK Framework, Struts 2, Struts 1, JSP, EL Expressions, JSTL and direct web remoting for creating web applications</li>
			<li>Proficiency developing web application using responsive web design, Twitter Bootstrap, jQuery, HTML5, CSS3, backbone.js, node.js, jade template and express.js</li>
			<li>Developed various network visualization modules using D3.js, leaflet.js and OpenStreetMap</li>
			<li>Developed proof of concept software defined networking using opendaylight controller, OSGI, mininet, openflow, python, virtualbox, MYSQL, crontab, screen, shell script and google maps</li>
			<li>Experience working with Oracle 9i/10g. Prior coding skills in PL/SQL, triggers, stored procedures, design and creation of databases, schemas and tables</li>
			<li>Proficiency with using aqua data studio, SQL*plus, SQL developer for Oracle 9i/10g and Oracle 11g and Toad</li>
			<li>Proficiency working with Twitter Storm a distributed real-time computation system</li>
			<li>Proficiency working with NoSQL like Redis and Mongodb</li>
			<li>Developed modules to access Redis using node.js and node Redis client</li>
			<li>Proficiency installing mongoDB and using it with node mongodb client</li>
			<li>Proficiency working with amazon web services and using EC2, SES, S3, Cloudfront and RDS</li>
			<li>Sound knowledge of services offered in prime brokerage like securities lending and locates</li>
			<li>Developed several modules in securities lending system and auto locates engine</li>
			<li>Developed interactive user interface using Raphael.js to work with all the browsers. And developed a feature to download it as PDF using Raphael.export.js and Apache Batik</li>
			<li>Proficiency in parsing and generating the flat files using Flatpack and custom application using JAVA and design patterns</li>
			<li>Designed and developed an enterprise application integration layer using JAVA, Apache Camel, Spring, Atomikos (third party JAVA transaction API) and BeanIO</li>
			<li>Designed and developed several reports using JasperReports, iReport and Apache POI</li>
			<li>Maintained the infrastructure to generate reports using JAVA and JasperReports</li>
			<li>Proficiency working with JPA 2.0</li>
			<li>Proficiency working with application server Jboss, WebLogic, Glassfish and Tomcat 5.5</li>
			<li>In depth knowledge of build and release management concepts</li>
			<li>Proficiency with various source control tools like CVS, SVN and ClearCase</li>
			<li>Wrote Ant scripts to generate the required artifacts to build the JAVA EE applications</li>
			<li>Proficiency with packaging installations and deploying builds on UNIX/LINUX</li>
			<li>In depth knowledge of developing dynamic web application using PHP, AJAX, JavaScript and CSS</li>
			<li>Developed automated testing scripts using Selenium web driver, Selenium IDE, TestNG and ReportNG</li>
			<li>Developed automated build framework using TestNG and Jenkins to test against Restful APIs</li>
			<li>Supported web application written in JSF2.0</li>
			<li>Developed various features in the application using Google Maps API version 2 and migrated code from Google Maps API version 2 to version 3</li>
			<li>Understanding of Software Development Lifecycle</li>
        </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Video Resume</h4>
                </div>
                <div class="modal-body">
                    <p>Coming soon, Keep watching this space.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>